<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>2.46.3</version>
  <numExecutors>5</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:IngApp-admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:IngApp-admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:IngApp-admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:IngApp-admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.UseItem:admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.UseOwn:admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:IngApp-admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:admin</permission>
    <permission>hudson.model.Computer.Build:admin</permission>
    <permission>hudson.model.Computer.Configure:IngApp-admin</permission>
    <permission>hudson.model.Computer.Configure:admin</permission>
    <permission>hudson.model.Computer.Connect:admin</permission>
    <permission>hudson.model.Computer.Create:admin</permission>
    <permission>hudson.model.Computer.Delete:IngApp-admin</permission>
    <permission>hudson.model.Computer.Delete:admin</permission>
    <permission>hudson.model.Computer.Disconnect:admin</permission>
    <permission>hudson.model.Computer.ExtendedRead:admin</permission>
    <permission>hudson.model.Computer.Provision:admin</permission>
    <permission>hudson.model.Hudson.Administer:IngApp-admin</permission>
    <permission>hudson.model.Hudson.Administer:admin</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:admin</permission>
    <permission>hudson.model.Hudson.Read:IngApp-admin</permission>
    <permission>hudson.model.Hudson.Read:admin</permission>
    <permission>hudson.model.Hudson.RunScripts:IngApp-admin</permission>
    <permission>hudson.model.Hudson.RunScripts:admin</permission>
    <permission>hudson.model.Hudson.UploadPlugins:admin</permission>
    <permission>hudson.model.Item.Build:IngApp-admin</permission>
    <permission>hudson.model.Item.Build:admin</permission>
    <permission>hudson.model.Item.Cancel:admin</permission>
    <permission>hudson.model.Item.Configure:IngApp-admin</permission>
    <permission>hudson.model.Item.Configure:admin</permission>
    <permission>hudson.model.Item.Create:IngApp-admin</permission>
    <permission>hudson.model.Item.Create:admin</permission>
    <permission>hudson.model.Item.Delete:IngApp-admin</permission>
    <permission>hudson.model.Item.Delete:admin</permission>
    <permission>hudson.model.Item.Discover:IngApp-admin</permission>
    <permission>hudson.model.Item.Discover:admin</permission>
    <permission>hudson.model.Item.ExtendedRead:admin</permission>
    <permission>hudson.model.Item.Move:admin</permission>
    <permission>hudson.model.Item.Read:IngApp-admin</permission>
    <permission>hudson.model.Item.Read:admin</permission>
    <permission>hudson.model.Item.Workspace:IngApp-admin</permission>
    <permission>hudson.model.Item.Workspace:admin</permission>
    <permission>hudson.model.Run.Delete:IngApp-admin</permission>
    <permission>hudson.model.Run.Delete:admin</permission>
    <permission>hudson.model.Run.Replay:admin</permission>
    <permission>hudson.model.Run.Update:IngApp-admin</permission>
    <permission>hudson.model.Run.Update:admin</permission>
    <permission>hudson.model.View.Configure:IngApp-admin</permission>
    <permission>hudson.model.View.Configure:admin</permission>
    <permission>hudson.model.View.Create:IngApp-admin</permission>
    <permission>hudson.model.View.Create:admin</permission>
    <permission>hudson.model.View.Delete:IngApp-admin</permission>
    <permission>hudson.model.View.Delete:admin</permission>
    <permission>hudson.model.View.Read:admin</permission>
    <permission>hudson.scm.SCM.Tag:IngApp-admin</permission>
    <permission>hudson.scm.SCM.Tag:admin</permission>
    <permission>hudson.security.Permission.FullControl:admin</permission>
    <permission>hudson.security.Permission.GenericConfigure:admin</permission>
    <permission>hudson.security.Permission.GenericCreate:admin</permission>
    <permission>hudson.security.Permission.GenericDelete:admin</permission>
    <permission>hudson.security.Permission.GenericRead:admin</permission>
    <permission>hudson.security.Permission.GenericUpdate:admin</permission>
    <permission>hudson.security.Permission.GenericWrite:admin</permission>
  </authorizationStrategy>
  <securityRealm class="org.openshift.jenkins.plugins.openshiftlogin.OpenShiftOAuth2SecurityRealm" plugin="openshift-login@0.12">
    <transport class="com.google.api.client.http.javanet.NetHttpTransport">
      <connectionFactory class="com.google.api.client.http.javanet.DefaultConnectionFactory"/>
      <sslSocketFactory class="sun.security.ssl.SSLSocketFactoryImpl">
        <context class="sun.security.ssl.SSLContextImpl$TLSContext">
          <ephemeralKeyManager>
            <keys>
              <sun.security.ssl.EphemeralKeyManager_-EphemeralKeyPair>
                <uses>0</uses>
                <expirationTime>1516377274679</expirationTime>
              </sun.security.ssl.EphemeralKeyManager_-EphemeralKeyPair>
              <sun.security.ssl.EphemeralKeyManager_-EphemeralKeyPair>
                <uses>0</uses>
                <expirationTime>1516377274679</expirationTime>
              </sun.security.ssl.EphemeralKeyManager_-EphemeralKeyPair>
            </keys>
          </ephemeralKeyManager>
          <clientCache>
            <sessionCache class="sun.security.util.MemoryCache">
              <cacheMap class="linked-hash-map"/>
              <maxSize>0</maxSize>
              <lifetime>86400000</lifetime>
              <queue>
                <lock/>
                <queueLength>0</queueLength>
              </queue>
            </sessionCache>
            <sessionHostPortCache class="sun.security.util.MemoryCache">
              <cacheMap class="linked-hash-map"/>
              <maxSize>0</maxSize>
              <lifetime>86400000</lifetime>
              <queue>
                <lock/>
                <queueLength>0</queueLength>
              </queue>
            </sessionHostPortCache>
            <cacheLimit>0</cacheLimit>
            <timeout>86400</timeout>
          </clientCache>
          <serverCache>
            <sessionCache class="sun.security.util.MemoryCache">
              <cacheMap class="linked-hash-map"/>
              <maxSize>0</maxSize>
              <lifetime>86400000</lifetime>
              <queue>
                <lock/>
                <queueLength>0</queueLength>
              </queue>
            </sessionCache>
            <sessionHostPortCache class="sun.security.util.MemoryCache">
              <cacheMap class="linked-hash-map"/>
              <maxSize>0</maxSize>
              <lifetime>86400000</lifetime>
              <queue>
                <lock/>
                <queueLength>0</queueLength>
              </queue>
            </sessionHostPortCache>
            <cacheLimit>0</cacheLimit>
            <timeout>86400</timeout>
          </serverCache>
          <isInitialized>true</isInitialized>
          <keyManager class="sun.security.ssl.DummyX509KeyManager"/>
          <trustManager class="sun.security.ssl.X509TrustManagerImpl">
            <validatorType>PKIX</validatorType>
            <trustedCerts class="set">
              <sun.security.x509.X509CertImpl resolves-to="java.security.cert.Certificate$CertificateRep">
                <type>X.509</type>
                <data>MIIC6jCCAdKgAwIBAgIBATANBgkqhkiG9w0BAQsFADAmMSQwIgYDVQQDDBtvcGVuc2hpZnQtc2ln
bmVyQDE1MTExNzM5NTEwHhcNMTcxMTIwMTAzMjMwWhcNMjIxMTE5MTAzMjMxWjAmMSQwIgYDVQQD
DBtvcGVuc2hpZnQtc2lnbmVyQDE1MTExNzM5NTEwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEK
AoIBAQC1wSwnnpr5McWCzvnYnDd811YRZzJm4qgjWe1Tt3qjCwOtQTMcXn8fJghxEorZAqzAjx+R
8fSj07cHavn8vKGZCIBMkFz1yYxvgSJSTZIyqCxS1W6m5QAFq8U3lpSqiZQBmnG4JMyxZEKO4xme
kuFIALDzWVl6dLu8SmZKQKV1hWxDYVgpnWz+kDVI0phcOOIDflINBvjoRWJV2ApLQCEAGvm+K8kR
ZmL2oY8D0WGuvBFicNYTrifH+ow9eMK1VzNRli4cZWqpu20dI449bgkv5GuKnjC7MKJu2Qy8cC7b
hFIL+XpwnrA9iut5+nDK3fxt8GC4cv0m43zPr88ctKtPAgMBAAGjIzAhMA4GA1UdDwEB/wQEAwIC
pDAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQCGsqeo3KtZ6/2dUdnXsRUjLI0B
gqHElMg8FRlcDA8WlET45WxzHyAB9BhXojyDBm+yw7SS46ilCd1GHMWrSLoEVIInC6K/FHWGfkJZ
3P41rl657pFTcw2GUsWV7LF305xgYtDRsdQql6xpI2krz/DqbsuhTKTNxNqYW8PM4f9/wC4C0yO9
LcLGYictnS32O9LmKr/GxPK/ndb4zA2YShn6HEmd0L2tMOXa5Yjz9JXn2SXDvwRESLxugbK3azGq
QoO4utSORKlcTab3ZZI/YQ28ONNnijmiCl4/QYkqjphzU1bf1D2WXwvU6IDpkSPee1b76IR9u56L
C8MHtfEJ5KHH</data>
              </sun.security.x509.X509CertImpl>
            </trustedCerts>
            <serverValidator class="sun.security.validator.PKIXValidator">
              <endEntityChecker>
                <variant>tls server</variant>
                <type>PKIX</type>
              </endEntityChecker>
              <variant>tls server</variant>
              <trustedCerts reference="../../trustedCerts"/>
              <parameterTemplate>
                <unmodTrustAnchors class="java.util.Collections$UnmodifiableSet">
                  <c class="set">
                    <java.security.cert.TrustAnchor>
                      <trustedCert class="sun.security.x509.X509CertImpl" reference="../../../../../../trustedCerts/sun.security.x509.X509CertImpl"/>
                    </java.security.cert.TrustAnchor>
                  </c>
                </unmodTrustAnchors>
                <certPathCheckers/>
                <revocationEnabled>false</revocationEnabled>
                <unmodInitialPolicies class="empty-set"/>
                <explicitPolicyRequired>false</explicitPolicyRequired>
                <policyMappingInhibited>false</policyMappingInhibited>
                <anyPolicyInhibited>false</anyPolicyInhibited>
                <policyQualifiersRejected>true</policyQualifiersRejected>
                <certStores/>
                <maxPathLength>5</maxPathLength>
              </parameterTemplate>
              <certPathLength>1</certPathLength>
              <trustedSubjects>
                <entry>
                  <javax.security.auth.x500.X500Principal serialization="custom">
                    <javax.security.auth.x500.X500Principal>
                      <byte-array>MCYxJDAiBgNVBAMMG29wZW5zaGlmdC1zaWduZXJAMTUxMTE3Mzk1MQ==</byte-array>
                    </javax.security.auth.x500.X500Principal>
                  </javax.security.auth.x500.X500Principal>
                  <list>
                    <sun.security.rsa.RSAPublicKeyImpl resolves-to="java.security.KeyRep">
                      <type>PUBLIC</type>
                      <algorithm>RSA</algorithm>
                      <format>X.509</format>
                      <encoded>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtcEsJ56a+THFgs752Jw3fNdWEWcyZuKo
I1ntU7d6owsDrUEzHF5/HyYIcRKK2QKswI8fkfH0o9O3B2r5/LyhmQiATJBc9cmMb4EiUk2SMqgs
UtVupuUABavFN5aUqomUAZpxuCTMsWRCjuMZnpLhSACw81lZenS7vEpmSkCldYVsQ2FYKZ1s/pA1
SNKYXDjiA35SDQb46EViVdgKS0AhABr5vivJEWZi9qGPA9FhrrwRYnDWE64nx/qMPXjCtVczUZYu
HGVqqbttHSOOPW4JL+Rrip4wuzCibtkMvHAu24RSC/l6cJ6wPYrrefpwyt38bfBguHL9JuN8z6/P
HLSrTwIDAQAB</encoded>
                    </sun.security.rsa.RSAPublicKeyImpl>
                  </list>
                </entry>
              </trustedSubjects>
              <factory>
                <type>X.509</type>
                <provider class="sun.security.provider.Sun" serialization="custom">
                  <unserializable-parents/>
                  <hashtable>
                    <default>
                      <loadFactor>0.75</loadFactor>
                      <threshold>143</threshold>
                    </default>
                    <int>191</int>
                    <int>100</int>
                    <string>Alg.Alias.Signature.1.2.840.10040.4.3</string>
                    <string>SHA1withDSA</string>
                    <string>Alg.Alias.Signature.SHA1/DSA</string>
                    <string>SHA1withDSA</string>
                    <string>Alg.Alias.Signature.DSS</string>
                    <string>SHA1withDSA</string>
                    <string>SecureRandom.SHA1PRNG ImplementedIn</string>
                    <string>Software</string>
                    <string>KeyStore.JKS</string>
                    <string>sun.security.provider.JavaKeyStore$DualFormatJKS</string>
                    <string>MessageDigest.SHA</string>
                    <string>sun.security.provider.SHA</string>
                    <string>Alg.Alias.MessageDigest.SHA-1</string>
                    <string>SHA</string>
                    <string>KeyStore.CaseExactJKS</string>
                    <string>sun.security.provider.JavaKeyStore$CaseExactJKS</string>
                    <string>CertStore.com.sun.security.IndexedCollection ImplementedIn</string>
                    <string>Software</string>
                    <string>Signature.SHA256withDSA</string>
                    <string>sun.security.provider.DSA$SHA256withDSA</string>
                    <string>Alg.Alias.MessageDigest.OID.1.3.14.3.2.26</string>
                    <string>SHA</string>
                    <string>Alg.Alias.Signature.DSA</string>
                    <string>SHA1withDSA</string>
                    <string>KeyFactory.DSA ImplementedIn</string>
                    <string>Software</string>
                    <string>KeyStore.JKS ImplementedIn</string>
                    <string>Software</string>
                    <string>AlgorithmParameters.DSA ImplementedIn</string>
                    <string>Software</string>
                    <string>Signature.NONEwithDSA</string>
                    <string>sun.security.provider.DSA$RawDSA</string>
                    <string>Alg.Alias.CertificateFactory.X509</string>
                    <string>X.509</string>
                    <string>Signature.SHA256withDSA SupportedKeyClasses</string>
                    <string>java.security.interfaces.DSAPublicKey|java.security.interfaces.DSAPrivateKey</string>
                    <string>CertStore.com.sun.security.IndexedCollection</string>
                    <string>sun.security.provider.certpath.IndexedCollectionCertStore</string>
                    <string>Provider.id className</string>
                    <string>sun.security.provider.Sun</string>
                    <string>Alg.Alias.MessageDigest.1.3.14.3.2.26</string>
                    <string>SHA</string>
                    <string>Alg.Alias.Signature.SHA-1/DSA</string>
                    <string>SHA1withDSA</string>
                    <string>KeyStore.DKS</string>
                    <string>sun.security.provider.DomainKeyStore$DKS</string>
                    <string>Alg.Alias.Signature.OID.2.16.840.1.101.3.4.3.2</string>
                    <string>SHA256withDSA</string>
                    <string>CertificateFactory.X.509 ImplementedIn</string>
                    <string>Software</string>
                    <string>Alg.Alias.Signature.OID.2.16.840.1.101.3.4.3.1</string>
                    <string>SHA224withDSA</string>
                    <string>Signature.SHA1withDSA KeySize</string>
                    <string>1024</string>
                    <string>Signature.NONEwithDSA KeySize</string>
                    <string>1024</string>
                    <string>KeyFactory.DSA</string>
                    <string>sun.security.provider.DSAKeyFactory</string>
                    <string>CertPathValidator.PKIX ImplementedIn</string>
                    <string>Software</string>
                    <string>Alg.Alias.Signature.OID.1.2.840.10040.4.3</string>
                    <string>SHA1withDSA</string>
                    <string>Configuration.JavaLoginConfig</string>
                    <string>sun.security.provider.ConfigFile$Spi</string>
                    <string>Alg.Alias.KeyFactory.1.2.840.10040.4.1</string>
                    <string>DSA</string>
                    <string>Alg.Alias.MessageDigest.OID.2.16.840.1.101.3.4.2.4</string>
                    <string>SHA-224</string>
                    <string>Alg.Alias.MessageDigest.OID.2.16.840.1.101.3.4.2.3</string>
                    <string>SHA-512</string>
                    <string>MessageDigest.MD5 ImplementedIn</string>
                    <string>Software</string>
                    <string>Alg.Alias.MessageDigest.OID.2.16.840.1.101.3.4.2.2</string>
                    <string>SHA-384</string>
                    <string>Alg.Alias.MessageDigest.OID.2.16.840.1.101.3.4.2.1</string>
                    <string>SHA-256</string>
                    <string>Provider.id name</string>
                    <string>SUN</string>
                    <string>Alg.Alias.Signature.RawDSA</string>
                    <string>NONEwithDSA</string>
                    <string>Alg.Alias.AlgorithmParameters.1.2.840.10040.4.1</string>
                    <string>DSA</string>
                    <string>CertPathBuilder.PKIX ValidationAlgorithm</string>
                    <string>RFC3280</string>
                    <string>Policy.JavaPolicy</string>
                    <string>sun.security.provider.PolicySpiFile</string>
                    <string>Alg.Alias.AlgorithmParameters.OID.1.2.840.10040.4.1</string>
                    <string>DSA</string>
                    <string>Signature.SHA224withDSA KeySize</string>
                    <string>2048</string>
                    <string>MessageDigest.SHA-384</string>
                    <string>sun.security.provider.SHA5$SHA384</string>
                    <string>Alg.Alias.KeyPairGenerator.1.3.14.3.2.12</string>
                    <string>DSA</string>
                    <string>Alg.Alias.Signature.SHA/DSA</string>
                    <string>SHA1withDSA</string>
                    <string>Alg.Alias.AlgorithmParameters.1.3.14.3.2.12</string>
                    <string>DSA</string>
                    <string>MessageDigest.SHA-224</string>
                    <string>sun.security.provider.SHA2$SHA224</string>
                    <string>Signature.SHA1withDSA ImplementedIn</string>
                    <string>Software</string>
                    <string>AlgorithmParameterGenerator.DSA</string>
                    <string>sun.security.provider.DSAParameterGenerator</string>
                    <string>Signature.NONEwithDSA SupportedKeyClasses</string>
                    <string>java.security.interfaces.DSAPublicKey|java.security.interfaces.DSAPrivateKey</string>
                    <string>SecureRandom.NativePRNGBlocking</string>
                    <string>sun.security.provider.NativePRNG$Blocking</string>
                    <string>MessageDigest.SHA-512</string>
                    <string>sun.security.provider.SHA5$SHA512</string>
                    <string>Alg.Alias.KeyFactory.OID.1.2.840.10040.4.1</string>
                    <string>DSA</string>
                    <string>CertPathBuilder.PKIX</string>
                    <string>sun.security.provider.certpath.SunCertPathBuilder</string>
                    <string>Alg.Alias.Signature.1.3.14.3.2.27</string>
                    <string>SHA1withDSA</string>
                    <string>Alg.Alias.MessageDigest.2.16.840.1.101.3.4.2.4</string>
                    <string>SHA-224</string>
                    <string>Provider.id version</string>
                    <string>1.8</string>
                    <string>Alg.Alias.MessageDigest.2.16.840.1.101.3.4.2.3</string>
                    <string>SHA-512</string>
                    <string>CertPathBuilder.PKIX ImplementedIn</string>
                    <string>Software</string>
                    <string>Alg.Alias.MessageDigest.2.16.840.1.101.3.4.2.2</string>
                    <string>SHA-384</string>
                    <string>Alg.Alias.MessageDigest.2.16.840.1.101.3.4.2.1</string>
                    <string>SHA-256</string>
                    <string>Signature.SHA256withDSA KeySize</string>
                    <string>2048</string>
                    <string>AlgorithmParameters.DSA</string>
                    <string>sun.security.provider.DSAParameters</string>
                    <string>Signature.SHA1withDSA SupportedKeyClasses</string>
                    <string>java.security.interfaces.DSAPublicKey|java.security.interfaces.DSAPrivateKey</string>
                    <string>CertStore.Collection</string>
                    <string>sun.security.provider.certpath.CollectionCertStore</string>
                    <string>AlgorithmParameterGenerator.DSA ImplementedIn</string>
                    <string>Software</string>
                    <string>SecureRandom.NativePRNGNonBlocking</string>
                    <string>sun.security.provider.NativePRNG$NonBlocking</string>
                    <string>KeyPairGenerator.DSA KeySize</string>
                    <string>2048</string>
                    <string>CertStore.LDAP</string>
                    <string>sun.security.provider.certpath.ldap.LDAPCertStore</string>
                    <string>Alg.Alias.Signature.2.16.840.1.101.3.4.3.2</string>
                    <string>SHA256withDSA</string>
                    <string>CertificateFactory.X.509</string>
                    <string>sun.security.provider.X509Factory</string>
                    <string>Alg.Alias.Signature.2.16.840.1.101.3.4.3.1</string>
                    <string>SHA224withDSA</string>
                    <string>SecureRandom.NativePRNG</string>
                    <string>sun.security.provider.NativePRNG</string>
                    <string>CertStore.LDAP LDAPSchema</string>
                    <string>RFC2587</string>
                    <string>KeyPairGenerator.DSA ImplementedIn</string>
                    <string>Software</string>
                    <string>CertStore.LDAP ImplementedIn</string>
                    <string>Software</string>
                    <string>CertPathValidator.PKIX ValidationAlgorithm</string>
                    <string>RFC3280</string>
                    <string>Signature.SHA224withDSA</string>
                    <string>sun.security.provider.DSA$SHA224withDSA</string>
                    <string>CertStore.Collection ImplementedIn</string>
                    <string>Software</string>
                    <string>Alg.Alias.Signature.1.3.14.3.2.13</string>
                    <string>SHA1withDSA</string>
                    <string>CertPathValidator.PKIX</string>
                    <string>sun.security.provider.certpath.PKIXCertPathValidator</string>
                    <string>Alg.Alias.MessageDigest.SHA1</string>
                    <string>SHA</string>
                    <string>AlgorithmParameterGenerator.DSA KeySize</string>
                    <string>2048</string>
                    <string>SecureRandom.SHA1PRNG</string>
                    <string>sun.security.provider.SecureRandom</string>
                    <string>Signature.SHA1withDSA</string>
                    <string>sun.security.provider.DSA$SHA1withDSA</string>
                    <string>Alg.Alias.KeyFactory.1.3.14.3.2.12</string>
                    <string>DSA</string>
                    <string>KeyPairGenerator.DSA</string>
                    <string>sun.security.provider.DSAKeyPairGenerator$Current</string>
                    <string>MessageDigest.SHA ImplementedIn</string>
                    <string>Software</string>
                    <string>Provider.id info</string>
                    <string>SUN (DSA key/parameter generation; DSA signing; SHA-1, MD5 digests; SecureRandom; X.509 certificates; JKS &amp; DKS keystores; PKIX CertPathValidator; PKIX CertPathBuilder; LDAP, Collection CertStores, JavaPolicy Policy; JavaLoginConfig Configuration)</string>
                    <string>Alg.Alias.KeyPairGenerator.1.2.840.10040.4.1</string>
                    <string>DSA</string>
                    <string>MessageDigest.SHA-256</string>
                    <string>sun.security.provider.SHA2$SHA256</string>
                    <string>Alg.Alias.Signature.DSAWithSHA1</string>
                    <string>SHA1withDSA</string>
                    <string>MessageDigest.MD5</string>
                    <string>sun.security.provider.MD5</string>
                    <string>Alg.Alias.Signature.SHAwithDSA</string>
                    <string>SHA1withDSA</string>
                    <string>Alg.Alias.KeyPairGenerator.OID.1.2.840.10040.4.1</string>
                    <string>DSA</string>
                    <string>Signature.SHA224withDSA SupportedKeyClasses</string>
                    <string>java.security.interfaces.DSAPublicKey|java.security.interfaces.DSAPrivateKey</string>
                    <string>MessageDigest.MD2</string>
                    <string>sun.security.provider.MD2</string>
                  </hashtable>
                  <java.security.Provider>
                    <default>
                      <version>1.8</version>
                      <info>SUN (DSA key/parameter generation; DSA signing; SHA-1, MD5 digests; SecureRandom; X.509 certificates; JKS &amp; DKS keystores; PKIX CertPathValidator; PKIX CertPathBuilder; LDAP, Collection CertStores, JavaPolicy Policy; JavaLoginConfig Configuration)</info>
                      <name>SUN</name>
                    </default>
                  </java.security.Provider>
                </provider>
                <certFacSpi class="sun.security.provider.X509Factory"/>
              </factory>
              <plugin>false</plugin>
            </serverValidator>
          </trustManager>
          <secureRandom serialization="custom">
            <java.util.Random>
              <default>
                <seed>0</seed>
                <nextNextGaussian>0.0</nextNextGaussian>
                <haveNextNextGaussian>false</haveNextNextGaussian>
              </default>
            </java.util.Random>
            <java.security.SecureRandom>
              <default>
                <counter>0</counter>
                <randomBytesUsed>0</randomBytesUsed>
                <algorithm>NativePRNG</algorithm>
                <provider class="sun.security.provider.Sun" reference="../../../../trustManager/serverValidator/factory/provider"/>
                <secureRandomSpi class="sun.security.provider.NativePRNG"/>
              </default>
            </java.security.SecureRandom>
          </secureRandom>
        </context>
      </sslSocketFactory>
    </transport>
    <defaultedServiceAccountDirectory>/run/secrets/kubernetes.io/serviceaccount</defaultedServiceAccountDirectory>
    <defaultedServiceAccountName>jenkins</defaultedServiceAccountName>
    <defaultedServerPrefix>https://openshift.default.svc</defaultedServerPrefix>
    <defaultedRedirectURL>https://shift-web.infra.ocp.selfdcopen-rh.nuvolaitaliana.it:8443</defaultedRedirectURL>
    <defaultedClientId>system:serviceaccount:jenkins2:jenkins</defaultedClientId>
    <defaultedClientSecret>eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJqZW5raW5zMiIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VjcmV0Lm5hbWUiOiJqZW5raW5zLXRva2VuLTQwbnBhIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6ImplbmtpbnMiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC51aWQiOiI3YWJhOWFmNS1mZDBkLTExZTctOWNkMS1mYTE2M2ViOGE0OTQiLCJzdWIiOiJzeXN0ZW06c2VydmljZWFjY291bnQ6amVua2luczI6amVua2lucyJ9.H05WbtZjJ2k_w8-1BSKrcwugqxN2VBSzPmj2wLw_NIUm6rfNLcN3YScOrmAFYAbUzwUvN3xiGCNPb1KS7M40xaJhEnZGe3urJrfRWb0VpsQfataYDmcrkfS1gJ_E0dh0pc0nTkLQ302tTLhwdWwVuhsiB3CsjDEoBSuGf1e4XubhhHYGk5wwvvZueeM6PovpZ5HVz6gqXbKCRDHqB4P8JYLNtyx2nQMIfNo84yY1xUerq7s1dpsfsipHjx2SwGjj9feuE0dCw8hCky_V-0qxQdyWppXIeGkRv2AJzoB3T8ftuWmIrlov-6KPnU26qV1pYD27fQXcywhFvTpu-x6aIQ</defaultedClientSecret>
    <namespace>jenkins2</namespace>
    <provider>
      <issuer>https://shift-web.infra.ocp.selfdcopen-rh.nuvolaitaliana.it:8443</issuer>
      <authorization__endpoint>https://shift-web.infra.ocp.selfdcopen-rh.nuvolaitaliana.it:8443/oauth/authorize</authorization__endpoint>
      <token__endpoint>https://shift-web.infra.ocp.selfdcopen-rh.nuvolaitaliana.it:8443/oauth/token</token__endpoint>
    </provider>
    <filter/>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds>
    <org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud plugin="kubernetes@0.11">
      <name>openshift</name>
      <defaultsProviderTemplate></defaultsProviderTemplate>
      <templates>
        <org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
          <inheritFrom></inheritFrom>
          <name>maven</name>
          <privileged>false</privileged>
          <alwaysPullImage>false</alwaysPullImage>
          <instanceCap>2147483647</instanceCap>
          <idleMinutes>0</idleMinutes>
          <label>maven</label>
          <serviceAccount>jenkins</serviceAccount>
          <nodeSelector></nodeSelector>
          <customWorkspaceVolumeEnabled>false</customWorkspaceVolumeEnabled>
          <workspaceVolume class="org.csanchez.jenkins.plugins.kubernetes.volumes.workspace.EmptyDirWorkspaceVolume">
            <memory>false</memory>
          </workspaceVolume>
          <volumes/>
          <containers>
            <org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
              <name>jnlp</name>
              <image>registry.access.redhat.com/openshift3/jenkins-slave-maven-rhel7</image>
              <privileged>false</privileged>
              <alwaysPullImage>false</alwaysPullImage>
              <workingDir>/tmp</workingDir>
              <command></command>
              <args>${computer.jnlpmac} ${computer.name}</args>
              <ttyEnabled>false</ttyEnabled>
              <resourceRequestCpu></resourceRequestCpu>
              <resourceRequestMemory></resourceRequestMemory>
              <resourceLimitCpu></resourceLimitCpu>
              <resourceLimitMemory></resourceLimitMemory>
              <envVars/>
            </org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
          </containers>
          <envVars/>
          <annotations/>
          <imagePullSecrets/>
        </org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
        <org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
          <inheritFrom></inheritFrom>
          <name>nodejs</name>
          <privileged>false</privileged>
          <alwaysPullImage>false</alwaysPullImage>
          <instanceCap>2147483647</instanceCap>
          <idleMinutes>0</idleMinutes>
          <label>nodejs</label>
          <serviceAccount>jenkins</serviceAccount>
          <nodeSelector></nodeSelector>
          <customWorkspaceVolumeEnabled>false</customWorkspaceVolumeEnabled>
          <workspaceVolume class="org.csanchez.jenkins.plugins.kubernetes.volumes.workspace.EmptyDirWorkspaceVolume">
            <memory>false</memory>
          </workspaceVolume>
          <volumes/>
          <containers>
            <org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
              <name>jnlp</name>
              <image>registry.access.redhat.com/openshift3/jenkins-slave-nodejs-rhel7</image>
              <privileged>false</privileged>
              <alwaysPullImage>false</alwaysPullImage>
              <workingDir>/tmp</workingDir>
              <command></command>
              <args>${computer.jnlpmac} ${computer.name}</args>
              <ttyEnabled>false</ttyEnabled>
              <resourceRequestCpu></resourceRequestCpu>
              <resourceRequestMemory></resourceRequestMemory>
              <resourceLimitCpu></resourceLimitCpu>
              <resourceLimitMemory></resourceLimitMemory>
              <envVars/>
            </org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
          </containers>
          <envVars/>
          <annotations/>
          <imagePullSecrets/>
        </org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
      </templates>
      <serverUrl>https://172.30.0.1:443</serverUrl>
      <serverCertificate>-----BEGIN CERTIFICATE-----
MIIC6jCCAdKgAwIBAgIBATANBgkqhkiG9w0BAQsFADAmMSQwIgYDVQQDDBtvcGVu
c2hpZnQtc2lnbmVyQDE1MTExNzM5NTEwHhcNMTcxMTIwMTAzMjMwWhcNMjIxMTE5
MTAzMjMxWjAmMSQwIgYDVQQDDBtvcGVuc2hpZnQtc2lnbmVyQDE1MTExNzM5NTEw
ggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC1wSwnnpr5McWCzvnYnDd8
11YRZzJm4qgjWe1Tt3qjCwOtQTMcXn8fJghxEorZAqzAjx+R8fSj07cHavn8vKGZ
CIBMkFz1yYxvgSJSTZIyqCxS1W6m5QAFq8U3lpSqiZQBmnG4JMyxZEKO4xmekuFI
ALDzWVl6dLu8SmZKQKV1hWxDYVgpnWz+kDVI0phcOOIDflINBvjoRWJV2ApLQCEA
Gvm+K8kRZmL2oY8D0WGuvBFicNYTrifH+ow9eMK1VzNRli4cZWqpu20dI449bgkv
5GuKnjC7MKJu2Qy8cC7bhFIL+XpwnrA9iut5+nDK3fxt8GC4cv0m43zPr88ctKtP
AgMBAAGjIzAhMA4GA1UdDwEB/wQEAwICpDAPBgNVHRMBAf8EBTADAQH/MA0GCSqG
SIb3DQEBCwUAA4IBAQCGsqeo3KtZ6/2dUdnXsRUjLI0BgqHElMg8FRlcDA8WlET4
5WxzHyAB9BhXojyDBm+yw7SS46ilCd1GHMWrSLoEVIInC6K/FHWGfkJZ3P41rl65
7pFTcw2GUsWV7LF305xgYtDRsdQql6xpI2krz/DqbsuhTKTNxNqYW8PM4f9/wC4C
0yO9LcLGYictnS32O9LmKr/GxPK/ndb4zA2YShn6HEmd0L2tMOXa5Yjz9JXn2SXD
vwRESLxugbK3azGqQoO4utSORKlcTab3ZZI/YQ28ONNnijmiCl4/QYkqjphzU1bf
1D2WXwvU6IDpkSPee1b76IR9u56LC8MHtfEJ5KHH
-----END CERTIFICATE-----</serverCertificate>
      <skipTlsVerify>false</skipTlsVerify>
      <namespace>jenkins2</namespace>
      <jenkinsUrl>http://172.30.139.193:80</jenkinsUrl>
      <jenkinsTunnel>172.30.211.2:50000</jenkinsTunnel>
      <credentialsId>1a12dfa4-7fc5-47a7-aa17-cc56572a41c7</credentialsId>
      <containerCap>10</containerCap>
      <retentionTimeout>5</retentionTimeout>
      <connectTimeout>0</connectTimeout>
      <readTimeout>0</readTimeout>
    </org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud>
  </clouds>
  <quietPeriod>1</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties/>
    </hudson.model.AllView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>50000</slaveAgentPort>
  <label>master</label>
  <nodeProperties/>
  <globalNodeProperties/>
  <noUsageStatistics>true</noUsageStatistics>
</hudson>
